*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App,
body {
  display: flex;
  background-color: black;
  color: white;
  height: auto;
  flex-direction: column;
  min-height: 100vh;
}


.loading {
  color: white;
  text-align: center;
}

.error {
  color: rgb(255, 56, 56);
  text-align: center;
}
